<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%- include("../partials/head") %>
  </head>
  <body>
    <section class="section">
      <div class="containter">

        <div class="columns">
          <div class="column is-half">

            <form class="form" method="post" action="/login">
            <div class="card">

              <div class="card-header">
                <div class="card-header-title">
                  Login
                </div>
              </div>

              <div class="card-content">

                  <%- include( "../partials/flashMessage", { flashMessage } ) %>

                  <div class="field">
                    <label class="label">Username:</label>
                    <div class="control">
                      <input class="input" type="text" name="username" />
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Password:</label>
                    <div class="control">
                      <input class="input" type="password" name="password" />
                    </div>
                  </di>
                  <div class="field">
                    <div class="control">
                      <label class="label"></label>
                      <input class="button is-primary" type="submit" value="Login" />
                    </div>
                  </div>
              </div>

              <div class="card-footer">
                <div class="card-footer-item">
                  <p>
                    Don't have an account? <a href="/signup">Register Here</a>.
                  </p>
                </div>
              </div>

            </div>
          </form>
          </div>
          <br />

        </div>

      </div>
    </section>
    <%- include("../partials/scripts") %>
  </body>
</html>
