<nav class="navbar">
  <div class="navbar-brand">
    <a href="/" class="navbar-item is-primary"><strong>Awesome Blog</strong></a>
    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="/posts" class="navbar-item">Posts</a>
      <a href="/about" class="navbar-item">About</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <p>
          <small>Welcome <strong><%- user && user.username %></strong>!</small>
        </p>
      </div>
      <a href="/logout" class="navbar-item">Sign Out</a>
    </div>
  </div>
</nav>
