<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us</title>
  <%- include("../partials/head") %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <section class="section">
    <div class="container has-text-centered">
      <p class="title is-5">
        This is our awesome blog.
      </p>

      <figure class="image" style="width:300px; margin: 0 auto;">
        <img src="/images/chipmunkgroup.png" />
      </figure>

    </div>
  </section>
  <footer class="footer">
    <%- include("../partials/footer") %>
  </footer>
</body>
</html>
