<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Post</title>
  <%- include("../partials/head") %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
  </header>
  <section class="section">
    <div class="container">

      <% if( typeof flashMessage != "undefined" && flashMessage ) { %>
      <div class="notification is-danger">
        <button class="delete"></button>
        <%- flashMessage %>
      </div>
      <% } %>

      <p class="title is-3">
        Create new Post
      </p>
      <form method="post" action="/posts">

        <div class="field">
          <div class="control">
            <label class="label">Title:</label>
            <input class="input" type="text" name="title" />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Content:</label>
            <textarea class="textarea" name="text"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input type="submit" class="button is-primary" value="Create Post" />
          </div>
        </div>

      </form>
    </div>
  </section>
  <footer class="footer">
    <%- include("../partials/footer") %>
  </footer>
</body>
</html>
