<!DOCTYPE html>
<html>
  <head>
    <title>Blog Posts</title>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <%- include("../partials/header") %>
    </header>


    <section class="section">
      <div class="container">
        <div class="level">
          <div class="level-left">
          </div>
          <div class="level-right">
            <div class="level-item">
              <a class="button is-primary" href="/posts/create">Create new Post</a>
            </div>
          </div>
        </div>
        <div class="box">
          <p>
            <strong>This is a super strong title of the post</strong>
            <br/>
            <small>Abbas Siddiqi</small> <small>|</small> <small>Aug 12, 2008</small>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <span>&hellip;</span> <a href="/posts/3">Read More</a>
          </p>
        </div>

        <div class="box">
          <p>
            <strong>This is a super strong title of the post</strong>
            <br/>
            <small>Abbas Siddiqi</small> <small>|</small> <small>Aug 12, 2008</small>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <span>&hellip;</span> <a href="/posts/4">Read More</a>
          </p>
        </div>

        <div class="box">
          <p>
            <strong>This is a super strong title of the post</strong>
            <br/>
            <small>Abbas Siddiqi</small> <small>|</small> <small>Aug 12, 2008</small>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <span>&hellip;</span> <a href="/posts/5">Read More</a>
          </p>
        </div>

        <div class="pagination">
          <a class="pagination-previous" title="This is a first page" disabled>Previous</a>
          <a class="pagination-next">Next</a>
          <ul class="pagination-list">
            <li>
              <a class="pagination-link is-current" href="#">1</a>
            </li>
            <li>
              <a class="pagination-link" href="#">2</a>
            </li>
            <li>
              <a class="pagination-link" href="#">3</a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;&hellip;</span>
            </li>
            <li>
              <a class="pagination-link" href="#">7</a>
            </li>
          </ul>
        </div>

      </div>
    </section>

    <footer class="footer">
      <%- include("../partials/footer") %>
    </footer>
  </body>
</html>
